<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
      .myInput {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 0;
    z-index: 0;
    border:solid; 
    boder-bottom:3px; 
    border-top:0; 
    border-left:0; 
    border-right:0; 
    border-radius:0px;
    width: 100%
}
    </style>
    <script type="text/javascript">
      function runScript(e) {
        if (e.keyCode == 13) {
          console.log("enter pressed");
          var tb = document.createElement("input");
          tb.setAttribute('class', "myInput");
          tb.setAttribute('type','text');
          tb.setAttribute('name','Item');
          tb.setAttribute('placeholder','Item');
          tb.setAttribute('onkeypress','return runScript(event)');
          tb.setAttribute('required','1');
          document.getElementById("listItem").appendChild(tb).focus();
          return false;
        }
      }
      document.addEventListener("keydown", KeyCheck);
      function KeyCheck(event)
      {
        var KeyID = event.keyCode;
        if(KeyID == 8 || KeyID == 46){
          console.log("backspace/delete");
          var elem = document.activeElement;
          var pelem = elem.previousSibling;
          if(elem.value=="" && elem.id!="scriptBox"){
            elem.parentNode.removeChild(elem);
            console.log(pelem);
            pelem.focus();
          }        
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
        <div class="panel panel-primary">
          <form action="/add" method="post" target="">
            <div class="panel-heading">
              <div class="form-group">
                <input class="form-control" type="text" name="Title" placeholder="Title" required=1><br>
                <input class="form-control" type="text" name="Description" placeholder="Description" required=1>
              </div>
            </div>
            <div class="panel-body" id="listItem">
              <input class="myInput" type="text" name="Item" id="scriptBox" placeholder="Item" 
              onkeypress="return runScript(event)" required='1' ></div>
            <input class="btn btn-primary" type="submit" value="Submit">
          </form>
        </div>
    </div>
  </body>
</html>